html, body{
  overflow: hidden;
}

.toggle-container {
    margin-bottom: 20px;
  }
  
  .toggle-container input[type="checkbox"] {
    display: none;
  }
  
  .toggle-container label {
    display: inline-block;
    width: 120px;
    height: 15px;
    background-color: #333333;
    border-radius: 5px;
    position: relative;
    top: 2px;
    transition: background-color 0.3s;
  }
  
  .toggle-container input[type="checkbox"]:checked + label {
    background-color: #333333;
  }
  
  body.darkmode {
    background-color: #333333;
  }
  
  body.darkmode .container {
    background-color: #222;
    color: #fff;
  }
  
  body.darkmode h1 {
    color: #fff;
  }
  
body{
    transition: background-color 0.3s;
    background-color: #cac7c7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}
.container {
  text-align: center;
  background-color: #ffffff;
  padding: 5%;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}


h1 {
  font-size: 3vw;
}

#canvasGame {
  border: 1px solid black;
  max-width: 90%;
  width: 100%;
  height: auto;
  background-image: url('fundo.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}
@media (min-width: 600px){
  button{
    display: none;
  }
}

@media (max-width: 600px){
    button{
        position: absolute;
        margin: 10px;
        font-weight: bolder;
        font-size: 20px;
    }
    #upButton{
        background-color: rgba(244, 67, 54, 0.774);
        top: 590px;
        left: calc(93% - 100px);
        padding: 20px;
        border-radius: 10px;
        color: white;
        font-weight: 900;

    }
    #downButton{
    background-color: #008CBA;
        top: 760px;
       left: calc(93% - 100px);
       padding: 20px;
       border-radius: 10px;
       color: white;
    }
    #leftButton{
        background-color: #FF9000;
        z-index: 999;
        left: calc(80% - 100px);
        top: 675px;
        padding: 20px;
        border-radius: 10px;
        color: white;
    }
    #rightButton{
        background-color: #4CAF50;
        left: calc(105% - 100px);
        top: 675px;
        padding: 20px;
        border-radius: 10px;
        color: white;
    }

}